:root{
	--main-text-color: #243147;
}

#header-block
{
	background-color: #F9E5F3;
}
#navigacijosJuosta
{
background-color: #746870;
}
#navbarsExampleDefault
{
background-color: #A99AA4;	
display: flex;	
}
#pavadinimas
{
	margin-top: 80px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #78596F;
	text-align: center;
	text-shadow: grey;
}
#ivadas
{
color: #78596F;
font-family: : "Comic Sans MS", cursive, sans-serif;
margin-left: 300px;
margin-right: 300px;
margin-top: 30px;
}
#action-btn
{
	align-self: center;
	margin-bottom: 20px;
	margin-left: 850px;
}

#pirmas
{
	background: #A99AA4;
	margin-bottom: 500px;
	margin-top: 30px;
	
	justify-content: center;
	
	text-align: center;
}
#klausimas
{
	justify-content: center;
}

#name1
{
	justify-content: center;
	
}

.error
{
	border: 1px solid red !important;
}
.answers {
	display: none;
}
#atsakymai{
	justify-content: center;
	font-family: : "Comic Sans MS", cursive, sans-serif;
}
#atsakymai2 {
	font-family: : "Comic Sans MS", cursive, sans-serif;
	text-decoration-color: pink;
}