:root{
	--main-text-color: #243147;
}
#parallax {
	background-image: url(image/pokytis2.jpg);
	height: 900px;
	display: flex;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	align-items: center;
}
#image-block img:hover{
filter: none

}
#image-block {
background-color: #ECC9CF;
margin: 10px;
padding-top: 25px;
padding-bottom: 45px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
#project img {
	position: absolute;
	top:0;
	left:35px;
}
#sukis {
	color: #F9E5F3;
	margin-left: 40px;
}
#header-block
{
	background-color: #F9E5F3;

}
#navigacijosJuosta
{
background-color: #746870;

}
#navbarsExampleDefault
{
background-color: #A99AA4;	
display: flex;	
}
#pavadinimas
{
	margin-top: 80px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #78596F;
	text-align: center;
	text-shadow: grey;

}
#ivadas
{
color: #78596F;
font-family: : "Comic Sans MS", cursive, sans-serif;
margin-top: 30px;
}

#pirmas
{
	background: #A99AA4;
	margin-bottom: 50px;
	margin-top: 30px;
	justify-content: center;
	text-align: center;
}
#antras
{
	background: #A99AA4;
	margin-bottom: 50px;
	margin-top: 30px;
	justify-content: center;
	text-align: center;
}
#trecias
{
	background: #A99AA4;
	margin-bottom: 50px;
	margin-top: 30px;
	justify-content: center;
	text-align: center;	
}